:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(university-library_additional_cam_011.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
    padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
    padding-left: 20px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
/* about */
.about{
    padding: 4.5rem 0;
}
.about-text{
    margin: 2rem 0;
}
.about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}
.about h2{
    text-align: center;
}

/*  available books */
.books{
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.carousel {
    width:400px;
    height:500px;
    margin:auto   
  }
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}

.book-content{
    margin: 2rem 0;
}
.book-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.book-img{
    position: relative;
    overflow: hidden;
}
.book-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.book-img img{
    transition:  all 0.5s ease;
}
.book-item:hover img{
    transform: scale(1.2);
}
.book-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.book-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.book-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.book-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}


/*subscription*/
.subscription{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.subscription-content{
    margin: 2rem 0;
}
.subscription-img{
    position: relative;
}
.subscription-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.subscription-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.subscription-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.subscription-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.subscription-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.subscription-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--dark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.subscription-text a:hover{
    background: var(--exDark);
}

/*footer*/
footer{

    color: #fff;
    text-align: center;
     background-image:url(https://www.gencom.be/img/1920x300_1920x300_39.png);
     height: 300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
}
footer p{
    font-family: calibri;
  }
  footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: white;
    line-height: 10px;
  
  }
 
.social-links a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
  }
  .social-links{
    display: flex;
  }
  .social-links a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2);
    transition: all ease 0.5s;
  
  
  }
  .social-links a:hover i {
  color: #FFFFFF;
  transition: all ease 0.5s;
  }
  
.footer span{
   
    display: block;
   
 
}
.copyright{
    color:white;
    font-size: 13px;
    position:absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }





/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .book-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .book-item{
        margin: 0;
    }
    .subscription-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media screen and (min-width: 992px){
    .subscription-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .book-content{
        grid-template-columns: repeat(3, 1fr);
    }
}








